<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>从开始到放弃</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{ message }}
        <div v-html="messageHtml"></div>
        <label for="changeColor">mac修改文字颜色</label>
        <input type="checkbox" v-model="use" id="changeColor">
        <br/>
        <div v-bind:class="{'change-color': use}">
            使用v-bind指令
            <p v-if="see" v-on:click="seeMe">点这里</p>
            <a v-bind:href="url">链接跳转</a>
        </div>
        <input type="text" v-model="message">
        <button @click="reverseMessage">反转字符串</button>
        <p>当前时间：{{curDate | dateFormat(1)}}</p>
    </div>

    <div id="app-2">
        <h3 :title="message">
            hover查看绑定信息
        </h3>
    </div>
<!-- 项目打包生成的文件路径 -->
<script src="/dist/bundle.js"></script>
</body>
</html>
