/**
 * @file _layout.scss
 * @author: cdlichang1
 * @describe: 基础布局
 * @create: 2019-03-29 15:37 
 */
body,html {
  font-size: 14px;
  height: 100%;
}
body {
  background-color: white;
}
.change-color{
  color: indianred;
}